# JetBrains

/.idea
/01-basic_setting/node_modules
/01-basic_setting/build
/02-react/node_modules
/02-react/build
/03-react-contact-no-configuration/node_modules
/03-react-contact-no-configuration/build